body {
  background-image: url('./assets/images/spotify-hex-colors-gradient-background.png');
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 20px;
  padding: 40px;
  color: #FFFF;
}

/* Style the navbar */
header {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header img{
  justify-content: flex-start;
}

header * {
  display: inline;
  margin: 10px;
  color: white;
  text-decoration: none;
}

/* Style the content */

img {
  border-radius: 10px;
}
.container {
  display: flex;
  align-items: center ;
  justify-content: flex-start;
}
.song-info {
  color: white;
  margin: 30px;
}

div.name {
  font-size: 80px;
  font-weight: bold;
}

div.artist {
  font-size: 20px;
  margin-top: 20px;
}
